[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.23.4"
pandas = "==1.5.1"
streamlit = "==1.14.0"
matplotlib = "==3.6.2"
seaborn = "==0.12.1"
flake8 = "*"
plotly-express = "*"
sympy = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.8"
